.status-box{
    display: inline-block;
    cursor: pointer;
}

span.pending{
    background-color: rgb(234, 255, 0);
    color: black;
    border: 0.1rem solid rgb(215, 205, 13);
    display: inline-block;
    padding: 0.1rem 0.4rem;
    border-radius: 0.3rem;
}

span.checkedIn {
    background-color: rgb(77, 255, 0);
    color: whitesmoke;
    border: 0.1rem solid rgb(1, 122, 7);
    display: inline-block;
    padding: 0.1rem 0.4rem;
    border-radius: 0.3rem;
}

span.missed {
    background-color: red;
    color: whitesmoke;
    border: 0.1rem solid rgb(182, 3, 3);
    display: inline-block;
    padding: 0.1rem 0.4rem;
    border-radius: 0.3rem;
}